.container{
    margin: 100px 0px;
    padding: 10px;
}
.ImageContainer{
    overflow: hidden;
    transform: all 0.5 ease;
    border-radius: 5px;
}
.new_Grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    margin: auto;
    cursor: pointer;
    grid-gap: 20px;
}
.myImage{
transition: all .5s;
transition: transform .5s ease;
filter: drop-shadow(0 0 0.75rem rgb(177, 169, 171));
border-radius: 5px;
width: 100%;
object-fit: cover;}
.myImage:hover{
    transform: translate(-3px, -3%);

}
.explore{
    display: flex;
    align-items: center;
    justify-content: center;
     background-color: rgb(235, 233, 233);
     width: fit-content;
     margin: auto;
     font-weight: bold;
     border-radius: 5px;
 }
 .exploreLink{
    font-weight: bold;
    border: none;
    padding: 18px 50px;
    letter-spacing: 2px;
    background-color: #2EE59D;
    outline: none;
    color: white;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
 }
 .exploreLink:hover{
    background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.new_Top > p:first-child{
    font-weight: bold;
    border: none;
    padding: 12px 30px;
    background-color: #f1f1f0;
    outline: none;
    width: fit-content;
    color: black;
    box-shadow: 0px -3px -3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
.new_Top > h1{
    margin-bottom: 20px;
    font-size: 40px;
}
.dates{
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-top: 20px;
    color: rgb(109, 101, 101);
    transition: all 0.3s ease;
}
.dates:hover{
color: black;
}

.DateIcon{
    width: 20px;
    height: 20px;
    margin: 0px 10px;
    
}
.ImageContainer > h2{
    margin: 10px 0px;
}